ion-content {
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    color: #1a1a1a;
  }

  h3 {
    margin-top: 25px;
    font-size: 1.25rem;
    color: #0d47a1;
    font-weight: 600;
  }

  p {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: #333;
  }

  img {
    display: block;
    margin: 10px auto;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
  }

  .container {
    max-width: 700px;
    margin: auto;
  }
}

