<ion-header>
  <ion-toolbar>
    <ion-title>Moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Moedas de referência no mercado global.</h1>

   <img src="assets/img/imgmoedasglobal.webp" alt="" width="230">

  <h3>Dólar Americano (USD)</h3>
  <p>O dólar é a moeda mais utilizada globalmente e considerada referência internacional. Além de ser a principal moeda de reserva dos bancos centrais, domina o comércio internacional, especialmente em contratos de petróleo, ouro e outras commodities. Sua força está diretamente ligada ao peso econômico e político dos Estados Unidos.</p>

  <img src="assets/img/dolar americano.png" alt="Dólar Americano" width="130">

  <h3>Euro (EUR)</h3>
  <p> Criado em 1999, é a moeda oficial da União Europeia, adotada por 20 países. Representa uma das maiores economias integradas do planeta e ocupa a segunda posição entre as reservas internacionais. Sua estabilidade e abrangência refletem a solidez do bloco econômico europeu. O euro facilita o comércio entre os países da zona do euro e é amplamente utilizado em transações internacionais.</p>

  <img src="assets/img/euro.png" alt="Euro" width="130">

  <h3>Libra Esterlina (GBP)</h3>
  <p>A libra é a moeda do Reino Unido e uma das mais antigas ainda em circulação. Teve papel central no período colonial britânico, quando foi a moeda de maior relevância global. Hoje, mantém-se como uma das divisas mais estáveis e valorizadas, sendo referência para investidores.</p>

  <img src="assets/img/libra esterlina.png" alt="Libra Esterlina" width="130">

  <h3>Iene (JPY)</h3>
  <p>O iene é a principal moeda asiática nos mercados financeiros, com grande liquidez internacional. O Japão, como terceira maior economia mundial, confere à moeda relevância e confiabilidade, especialmente em negociações no continente asiático.</p>

  <img src="assets/img/iene.png" alt="Iene" width="130">

  <h3>Dólar Canadense (CAD)</h3>
  <p>Conhecido como "loonie", o dólar canadense é uma moeda forte e estável, influenciada pelos preços das commodities, especialmente petróleo e minerais. O Canadá é um dos maiores exportadores mundiais de recursos naturais, o que reforça a importância do CAD no comércio internacional.</p>

  <img src="assets/img/dolar canadense.png" alt="Dólar Canadense" width="130">

  <h3>Dólar Australiano (AUD)</h3>
  <p>O dólar australiano é outra moeda de commodities, com forte ligação aos mercados asiáticos. A Austrália é um grande exportador de minerais e produtos agrícolas, o que torna o AUD relevante para investidores que buscam exposição a esses setores. A Austrália, como grande exportadora, garante à moeda espaço relevante nas transações globais.</p>

  <img src="assets/img/dolar australiano.png" alt="Dólar Australiano" width="130">

  <h3>Peso Mexicano (MXN)</h3>
  <p>O peso mexicano é a moeda oficial do México e uma das mais negociadas na América Latina. Devido à proximidade econômica com os Estados Unidos, o MXN é amplamente utilizado em transações comerciais entre os dois países. O México é um importante parceiro comercial dos EUA, o que reforça a relevância do peso mexicano no comércio regional.</p>

  <img src="assets/img/peso mexicano.png" alt="Peso Mexicano" width="130">

  <h3>Real (BRL)</h3>
  <p>O real é a moeda oficial do Brasil, a maior economia da América Latina. Embora não seja tão amplamente utilizado quanto outras moedas globais, o BRL é importante para o comércio regional e para investidores interessados em mercados emergentes. O Brasil é um grande exportador de commodities, como soja, minério de ferro e petróleo, o que confere ao real uma relevância significativa no comércio internacional. Apesar da volatilidade causada por fatores políticos e econômicos internos, é essencial no comércio regional e atrai atenção de investidores internacionais.</p>

  <img src="assets/img/real.png" alt="Real" width="130">

  <h3>Franco Suíço (CHF)</h3>
  <p>O franco suíço é conhecido por sua estabilidade e segurança, sendo considerado um "porto seguro" em tempos de incerteza econômica global. A Suíça possui um sistema financeiro robusto e políticas econômicas sólidas. Em momentos de instabilidade global, investidores recorrem a ele pela solidez da economia e pela neutralidade política da Suíça.</p>

  <img src="assets/img/francosuino.png" alt="Franco Suíno" width="130">

  <br>
  
</ion-content>