<ion-header>
  <ion-toolbar color="">
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  
  <ion-list *ngIf="!mostrandoFormulario">
    <ion-item *ngFor="let fav of favoritos">
      <ion-label>
        <h2>{{ fav.moedaOrigem }} → {{ fav.moedaDestino }}</h2>
        <p>Valor: {{ fav.valor }} | Resultado: {{ fav.resultado }}</p>
      </ion-label>
      <ion-button fill="clear" color="warning" (click)="abrirFormulario(fav)">Editar</ion-button>
      <ion-button fill="clear" color="danger" (click)="excluirFavorito(fav._id)">Excluir</ion-button>
    </ion-item>

    <p *ngIf="favoritos.length === 0" class="ion-text-center ion-margin-top">
      Nenhum favorito ainda 💤
    </p>
  </ion-list>

  <!-- FORMULÁRIO (para adicionar ou editar) -->
  <div *ngIf="mostrandoFormulario" class="formulario-container">
    <ion-item>
      <ion-label position="stacked">Moeda origem</ion-label>
      <ion-input [(ngModel)]="novoFavorito.moedaOrigem"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Moeda destino</ion-label>
      <ion-input [(ngModel)]="novoFavorito.moedaDestino"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valor</ion-label>
      <ion-input type="number" [(ngModel)]="novoFavorito.valor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Resultado</ion-label>
      <ion-input type="number" [(ngModel)]="novoFavorito.resultado"></ion-input>
    </ion-item>

    <ion-button expand="block" color="success" (click)="salvarFavorito()">
      {{ favoritoEditando ? 'Salvar alterações' : 'Adicionar favorito' }}
    </ion-button>

    <ion-button expand="block" color="medium" fill="outline" (click)="cancelarFormulario()">
      Cancelar
    </ion-button>
  </div>

  <!-- BOTÃO FLUTUANTE -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!mostrandoFormulario">
    <ion-fab-button color="primary" (click)="abrirFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
