<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Conversão</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-item [class.erro]="!fromCurrency">
    <ion-label>De</ion-label>
    <ion-select [(ngModel)]="fromCurrency">
      <ion-select-option value="USD">USD</ion-select-option>
      <ion-select-option value="BRL">BRL</ion-select-option>
      <ion-select-option value="EUR">EUR</ion-select-option>
    </ion-select>
  </ion-item>

 
  <ion-item [class.erro]="!toCurrency">
    <ion-label>Para</ion-label>
    <ion-select [(ngModel)]="toCurrency">
      <ion-select-option value="USD">USD</ion-select-option>
      <ion-select-option value="BRL">BRL</ion-select-option>
      <ion-select-option value="EUR">EUR</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item [class.erro]="!amount">
    <ion-label position="floating">Valor</ion-label>
    <ion-input type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="convert()">Converter</ion-button>

  <div *ngIf="result">
    <h2>Resultado: {{ result | number:'1.2-2' }} {{ toCurrency }}</h2>
  </div>

  <ion-button 
    *ngIf="mostrarFavorito"
    expand="full" 
    color="warning" 
    (click)="adicionarFavorito()">
    ⭐ Adicionar aos Favoritos
  </ion-button>

</ion-content>
